<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Poc Storage with History App</mat-card-title>
              <mat-card-subtitle>It's poc for test a deployed web3 App</mat-card-subtitle>
            </mat-card-header>
            <h2>Congratulation you are now connected</h2>
            <mat-card-content>
                <div *ngIf="currentAccount=='0x'">
                    You must connect wallet !
                </div>
                <div *ngIf="currentAccount!='0x'">
                    <!-- <mat-grid-list cols="2" rowHeight="3:1">
                        <mat-grid-tile><h3>Current Address:</h3></mat-grid-tile>
                        <mat-grid-tile><mat-button-toggle value="bold">{{truncateAddress(currentAccount)}}</mat-button-toggle></mat-grid-tile>
                        <mat-grid-tile><h3>value stored:</h3></mat-grid-tile>
                        <mat-grid-tile><mat-button-toggle value="bold">{{this.valueStored}}</mat-button-toggle></mat-grid-tile>
                    </mat-grid-list> -->
                    <h3>Current Address:<mat-button-toggle value="bold">{{truncateAddress(currentAccount)}}</mat-button-toggle></h3>

                    <h3>value stored:<mat-button-toggle value="bold">{{this.valueStored}}</mat-button-toggle></h3>

                    <form class="example-form">
                        <mat-grid-list cols="2" rowHeight="2:1">
                            <mat-grid-tile>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>enter a new Value</mat-label>
                                    <input matInput placeholder="Ex. 102" [(ngModel)]="newValue" [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <button *ngIf="!isProcessing" mat-stroked-button (click)="setValue()" color="primary">Store new value</button>
                                <mat-spinner *ngIf="isProcessing" diameter="30"></mat-spinner>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </form>
                </div>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button>LIKE</button>
              <button mat-button>SHARE</button> -->
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
</mat-grid-list>